/* Google Poppins Font added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ########################Sheared Styles Starts Here##################################### */

.display-flex {
  display: flex;
}

.backdround {
  max-width: 1440px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.theme-background-color {
  background: rgb(224, 44, 109);
}

/* ########################Sheared Styles Ends Here##################################### */

/* ########### Header Section Styles Start from Here ############################# */
.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.site-title {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0px;
  text-align: left;
}
.menu-items {
  list-style: none;
  padding: 20px 16px;
  height: 36px;
}

.menu-items .menu-link {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
}
/* ########### Header Section Styles Ends Here #############################  */
.banner {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}
.banner-contents {
  max-width: 582px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 6.5rem;
}
.banner-content-title {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.38rem;
  letter-spacing: 0px;
  text-align: left;
}
.banner-description {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
}
.btn-banner {
  border-radius: 2.5rem;
  width: 196px;
  height: 44px;
  padding: 10px 24px 10px 24px;
  text-align: center;
  border: none;
  color: white;
}

.banner-image {
  max-width: 475px;
  max-height: 475px;
  background: url("images/Circle\ design.svg");
}
.banner-image .main-camera {
  max-height: 414px;
  max-width: 440px;
  padding: 2rem 2rem 2rem 0.125rem;
}

/* ############# Responsive Media query styles start from Here ############### */
@media screen and (max-width: 576px) {
  .banner-contents {
    order: 1;
  }
  .banner-box {
    flex-direction: column;
    padding: 20px;
  }
}
/* ############# Responsive Media query styles Endsfrom Here ############### */
